.btn-search {
  padding: 0 .5rem;
  display: flex;
  align-items: center;
}

.btn-white {
  color: $text-color;
  background-color: #ffffff;

  &:hover,
  &:active {
    color: $text-color;
    background-color: darken(#ffffff, 5%);
  }
}