@import '../../assets/fonts/stylesheet.css';

body {
  color: $text-color;
}

main.single-page,
aside.sidebar {
  margin-top: 70px;
}

main.main,
.main-page {
  width: 100%;
  background-color: white;

  img {
    max-width: 100%;
    height: auto;
  }
}

select.form-control {
  color: $input-color-placeholder;
}

@media all and (max-width: 768px) {
  div#adf-autonative,
  div#adf-billboard {
    position: relative;
  }

  .iframe-wrapper {
    height: 0px;
    padding-top: 25px;
    padding-bottom: 56.2%;
    position: relative;
  }
  .iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}