@import '../../assets/fonts/stylesheet.css';

body {
  color: $text-color;
}

main.single-page {
  margin-top: 5px;
}

.single-page article {
  margin-top: 1em; 
}

.boek-alert {
  margin:60px 0 0;
  background-color:#ff9cb5;

  &:focus,
  &:hover {
    background-color: darken(#ff9cb5, 5%);
  }
}

.page-header {
  margin: 1em;
}

main,
.main-page {
  width: 100%;
  background-color: white;

  img {
    max-width: 100%;
    height: auto;
  }
}

select.form-control {
  color: $input-color-placeholder;
}