@import '../../assets/fonts/stylesheet.css';

body {
  font-size: 14px;
}

main,
aside {
  margin-top: 80px;
}

main.main {
  width: 100%;
  background-color: white;

  img {
    max-width: 100%;
    height: auto;
  }
}
