// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$font-family-base: 'Lora', serif;
$headings-font-family: 'ostrich_sansblack', sans-serif;
$text-color: #444;
$headings-color: $text-color;
$line-height-base: 1.75;

$body-bg: #f9f9f9;

$brand-primary: #ffcfdb;
$brand-danger: #f2858e;
$brand-success: #b9e8e1;
$brand-info: #b7c7f7;
$brand-secondary: #fff38e;

$gray-light: #f1f1f1;
$gray: #dddddd;
$gray-dark: #888888;

$link-color: darken($brand-primary, 10%);
$input-color-placeholder: $gray-dark;