// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$font-family-base: 'Lora', serif;
$headings-font-family: 'ostrich_sansblack', sans-serif;
$text-color: #444;
$headings-color: $text-color;
$link-color: $text-color;
$line-height-base: 1.75;

$body-bg: #f9f9f9;

$brand-primary: #ffc9df; 
$brand-danger: #f2858e;
$brand-success: #bee6e0;
$brand-info: #89b0ff;
$brand-secondary: #c2b7e5;