.first-post {
  margin-bottom: 1rem;
  background-color: white;

  .col-md-8 {
    padding: 0;
  }

  .first-post-text {
    display: flex;
    @media (max-width: map-get($grid-breakpoints, md)) {
      margin-top: 1rem;
    }
  }
}

.card {
  .lees-meer > a {
    margin-bottom: -15px;
  }
}

.post-meta {
  color: lighten($text-color, 50%);
}

.card-sticky {
  border: 4px double $brand-primary;

  .sticky-sticker {
    position: absolute;
    right: .5rem;
    z-index: 1;
    font-size: 1.5rem;
    transform: rotate(15deg);
    color: $brand-primary;
  }
}